@charset 'utf-8';
body { font-family: arial, Helvetica, sans-serif; font-size:13px; padding: 0; margin: 0;}

#topo { 
	background: #e8edf1; 
	border-bottom: solid 1px #C6C9CE; 
	height: 80px;
	}
.centro-topo { width: 900px; margin: 0 auto;}
.t-empresa { margin: 0; padding: 20px 0 0 0; color: #53637D;  text-shadow: #fff 0px 1px 2px; }
.menu { float: left; height: 20px; margin: 0; padding: 9px 0 0; width: 900px;
}
/* dropdowns: general */
a.dropdown { 
	background: #88bbd4; padding: 4px 6px 6px; text-decoration: none; color: #fff; 
	-webkit-border-radius: 2px 2px 0 0; 
	-moz-border-radius: 2px 2px 0 0; 
	border-radius: 2px 2px 0 0; 
	}
a.dropdown:hover { background: #59b; }
a.dropdown { position: relative; margin-left: 3px; }
a.dropdown span { padding: 4px 5px 6px 0; }
a.dropdown.dropdown-active { color:#fff; background-color:#53637D; border: }
a.dropdown.dropdown-active span { background:url(toggle_up_dark.png) 100% 50% no-repeat; }
.dropdown-menu  { 
	background:#EEE; position:absolute; top:22px; right:0; display:none; z-index:5000; left: 3px;
	background-image: -moz-linear-gradient(top, #FFFFFF 0pt, #EEE 100%);
	background-image: -webkit-linear-gradient(top, #FFF, #EEE);
	-moz-border-radius-bottomleft: 5px; 
	-moz-border-radius-bottomright: 5px;
	box-shadow: rgba(0, 0, 0, 0.496094) 0px 2px 4px 0px;
	-webkit-border-bottom-left-radius: 5px; 
	-webkit-border-bottom-right-radius: 5px; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.496094) 0px 2px 4px 0px;
	}
.dropdown-menu p { font-size:11px; }
.dropdown-menu a:link, .dropdown-menu a:visited  { color:#000000; text-decoration:none; line-height:1.7em; display: block; padding-left: 10px;}
.dropdown-menu a:hover { background: #88BBD4; color: #fff;}
.dropdown-menu a:active { background: #53637D; color: #FFF;}
* html .dropdown-menu { top:28px; }
*+ html .dropdown-menu { top:28px; }
/* dropdowns: specific */
#menu1 { float:left; margin-right:20px; }
#dropdown1 { width:150px; }
#dropdown1 a  { display:block; }
#menu { float:left; }
#dropdown2 { width:180px; font-size:12px; }
#dropdown2 ul { padding: 5px 0 5px 0; margin: 0;}
#dropdown2 ul li { display: block; list-style: none outside none; margin: 0;}
.relative { position:relative; }
#conteiner { width:900px; margin:0 auto; height:800px;}	
#conteiner h2 { color: #53637D; font-weight: normal; border-bottom: 1px solid #EEE; padding: 0 0 5px 0; font-size: 22px; }
.clear {clear:both}