/* Tema menu */
#menu {
    clear: both;
    padding-top: 10px;
}

ul.menu-item ul { display:none }
ul.menu-item li:hover>ul { display:block }
ul.menu-item ul { position: absolute;left:-1px;top:98%; }
ul.menu-item ul ul { position: absolute;left:98%;top:-2px; }
ul.menu-item,ul.menu-item ul {
    margin:0px;
    list-style:none;
    padding:0px 2px 2px 0px;
    background-color:#333333;
    background-repeat:repeat;
    border-color:#cccccc #111111 #111111 #cccccc;
    border-width:1px;
    border-style:solid;
    width: 930px;
}
ul.menu-item table {border-collapse:collapse}
ul.menu-item {
    display:block;
    zoom:1;
    float: left;
}
ul.menu-item ul {
    width:180.6px;
}
ul.menu-item li {
    display:block;
    margin:2px 0px 0px 2px;
    font-size:0px;
}
ul.menu-item a:active, ul.menu-item a:focus {
    outline-style:none;
}
ul.menu-item a, ul.menu-item li.dis a:hover, ul.menu-item li.sep a:hover {
    display:block;
    vertical-align:middle;
    background-color:#333333;
    border-width:1px;
    border-color:#333333;
    border-style:solid;
    text-align:left;
    text-decoration:none;
    padding:2px 5px 2px 10px;
    _padding-left:0;
    font:normal 12px Trebuchet MS,Tahoma;
    color: #cccccc;
    text-decoration:none;
    cursor:default;
}
ul.menu-item span {
    overflow:hidden;
}
ul.menu-item li {
    float:left;
}
ul.menu-item ul li {
    float:none;
}
ul.menu-item ul a {
    text-align:left;
    white-space:nowrap;
}
ul.menu-item li.sep {
    text-align:left;
    padding:0px;
    line-height:0;
    height:100%;
}
ul.menu-item li.sep span {
    float:none;
    padding-right:0;
    width:3px;
    height:100%;
    display:inline-block;
    background-color:#cccccc #111111 #111111 #cccccc;
    background-image:none;
}
ul.menu-item ul li.sep span {
    width:100%;
    height:3px;
}
ul.menu-item li:hover {
    position:relative;
}
ul.menu-item li:hover>a {
    background-color:#377D9F;
    border-color:#377D9F;
    border-style:solid;
    font:normal 12px Trebuchet MS, Tahoma;
    color: #FFFFFF;
    text-decoration:none;
}
ul.menu-item li a:hover {
    position:relative;
    background-color:#377D9F;
    border-color:#377D9F;
    border-style:solid;
    font:normal 12px Trebuchet MS, Tahoma;
    color: #FFFFFF;
    text-decoration:none;
}
ul.menu-item li.dis a {
    color: #666 !important;
}
ul.menu-item img {
    border: none;float:left;_float:none;margin-right:2px;width:16px; height:16px;
}
ul.menu-item ul img {width:16px; height:16px; }
ul.menu-item img.over {display:none}
ul.menu-item li.dis a:hover img.over {display:none !important}
ul.menu-item li.dis a:hover img.def {display:inline !important}
ul.menu-item li:hover > a img.def  {display:none}
ul.menu-item li:hover > a img.over {display:inline}
ul.menu-item a:hover img.over,ul.menu-item a:hover ul img.def,ul.menu-item a:hover a:hover ul img.def,ul.menu-item a:hover a:hover img.over,ul.menu-item a:hover a:hover a:hover img.over{display:inline}
ul.menu-item a:hover img.def,ul.menu-item a:hover ul img.over,ul.menu-item a:hover a:hover ul img.over,ul.menu-item a:hover a:hover img.def,ul.menu-item a:hover a:hover a:hover img.def{display:none}
ul.menu-item a:hover ul,ul.menu-item a:hover a:hover ul {display:block}
ul.menu-item a:hover ul ul {display:none}
ul.menu-item span {
    display:block;
    background-image:url(./images/arr_white.gif);
    background-position:right center;
    background-repeat: no-repeat;
    padding-right:12px;
}
ul.menu-item li:hover>a>span { background-image:url('../images/arrv_white.gif'); }
ul.menu-item a:hover span{_background-image:url('../images/arrv_white.gif'); }
ul.menu-item ul span,ul.menu-item a:hover table span { background-image: url('../images/arr_white.gif'); }
